$primary-color:#9356DC;
$secondary-color:#FF79DA;
$tertiary-color:#99E2D0;

$font-primary: 'Roboto', sans-serif;
$font-title: 'Shrikhand',cursive;
body{
    font-family: $font-primary;
    margin: 0;
    padding: 0;
}
.nav__image{
    padding: 15px;
    display: flex;
    justify-content: center;
}   
.nav__loc{
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 4px 4px 0px #00000040;
    background-color: #EAEAEA;
    gap: 17px;
}
header{
    background-color: #f6f6f6;
    display: flex;
    justify-content: center;
    padding: 20px;
    text-align: center;

    .header__content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    }

    .header__button{
    color: white;
    text-decoration: none;
    border: 2px solid none;
    background: linear-gradient(180deg,rgba(255, 121, 218, 1) 0%, rgba(147, 86, 220, 1) 50%);
    border-radius: 30px;
    padding: 15px;
    }
}

.fonctionnement{
    margin: 10px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    .fonctionnement__list{
        display: flex;
        justify-content: space-evenly;
        padding: 20px;
        border-radius: 20px;
        background-color: #d8d7d7;
        box-shadow: 0px 4px 15px 0px #00000026;
    }
    .fa-store{
        color: $primary-color;
    }
}
.restaurant{
    display: flex;
    justify-content: space-between;
    background-color: #f6f6f6;
    margin: 10px;
    .restaurant__main{
        width: 90%;
    }

    .restaurant__list{
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
    }

    .restaurant__cards{
        background-color: white;
        border-radius: 30px;
        width: 100%;
    }

    article{
        border-radius: 20px;
        img{
            object-fit: cover;
            width: 100%;
            height: 230px;
            border-radius: 30px 30px 0 0;
        }
    }


}