.carte__title {
    font-family: $font-title;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin:0  15px 0 15px;
}
.carte{
    margin-bottom: 40px;
}
.button__position{
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
}
.position{
    margin-left: 15px;
}
.card{
    margin: 10px;
    gap: 10px;
    padding:10px 15px 10px 15px;
    border-radius: 20px;
    box-shadow: 0px 4px 15px 0px #00000026;
    h3,p{
       padding: 0;
        margin:0;
    }
    &__contenu{
        display: flex;
        justify-content: space-between;
        padding-top: 5px;

    }
}