.carte__title {
    font-family: $font-title;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin:0  15px 0 15px;
}
.carte{
    margin-bottom: 40px;
}
.button__position{
    display: flex;
    justify-content: center;
}
.position{
    margin-left: 15px;
    font-weight: 300;
    font-size: 16px;
    display: inline-block;
    position: relative;
    padding-bottom: 5px;
}

.position::after{
    content: '';
    left: 0;
    bottom: 0;
    width: 60%;
    height: 2px;
    background-color: $tertiary-color;
    position: absolute;
}
.cards__main{
    padding-bottom: 30px;
}
.card{
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    animation: apparition 1s ease-in-out forwards;
    margin: 10px;
    gap: 10px;
    padding-left:15px;
    border-radius: 20px;
    box-shadow: 0px 4px 15px 0px #00000026;
    overflow: hidden;
    height: 69px;
    h3,.card__prix{
        font-size: 18px;
        font-weight: 400;
        padding: 0;
        margin:0;
        margin-bottom: 5px;
        
    }
    p{
        padding: 0;
        margin:0;
        font-size: 14px;
        font-weight: 30;
    }
    .card__prix{
        font-size: 15px;
        white-space: nowrap;
        transition:transform 150ms ease ;
        
    }
    &__contenu{
        display: flex;
        justify-content: space-between;
        padding-top: 5px;
        white-space: nowrap;
    }
    &__hover{
        flex:1;
        min-width: 0;
    }
    
}
.over{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    flex: 1;
    max-width: 100%;
}
.plat{
  animation-delay: 0.5s;
}
.dessert{
  animation-delay: 1s;
}
.coeur{
    position: absolute;
    top: 0;
    left: 0;
    font-size: 20px;
    transition: opacity 300ms ease;
    opacity: 1;
}
.coeur__hover{
    opacity: 0;
    background-image: $gradient-color;
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    display: inline-block;
    transition: opacity 300ms ease;
}
.coeur__list{
    position: absolute;
    top: 0px;
    right: 10px;
    font-size: 20px;
}

@media(min-width: 1440px){
    .section__pics{
        width: 1200px;
        margin: auto;
        margin-top: -40px;
    }
    .card{
        width: 80%;
        margin: auto;
        margin-bottom: 10px;
        
    }
    .carte__menu{
        margin-left: 90px;
    }
    .carte__title{
        justify-content:center;
        gap:20px;
    }
}

