.fonctionnement{
    display: flex;
    flex-direction: column;
    gap: 20px;
    background-color: white;
    &__title{
        margin-left: 20px;
    }
    &__list{
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 80%;
        height: 10px;
        padding: 20px;
        border-radius: 20px;
        background-color: #F6F6F6;
        box-shadow: 0px 4px 15px 0px #00000026;
        margin-left: 10px;
        margin-top: 15px;
    }
    &__desktop{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-bottom: 50px;
    }
    &__txt{
        display: flex;
        gap: 15px;
    }
    .fa-store{
        color: $primary-color;
    }
    &__number{
        position: absolute;
        left: -12px;
        width: 24px;
        height: 24px;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #9356DC;
        color: white;
        border-radius: 50%;
        font-size: 14px;
        font-weight: bold;
    }
}
@media(min-width: 1024px){
    .fonctionnement__desktop{
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 50px;

        .fonctionnement__list{
            width: 21%;
        }
        
    }
    .fonctionnement__title{
            padding-left: 55px;
        }
}

@media(min-width: 1440px){
    .fonctionnement{
        justify-content: center;
        align-items: center;
    }
    .fonctionnement__desktop{
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 50px;
        width: 70%;
        .fonctionnement__list{
            width: 20%;
        }
        
    }
    .fonctionnement__title{
        width: 60%;
        text-align: left;
        margin-left: 80px;
        }
}

