.fonctionnement{
    margin: 10px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    .fonctionnement__list{
        display: flex;
        justify-content: space-evenly;
        padding: 20px;
        border-radius: 20px;
        background-color: #F6F6F6;
        box-shadow: 0px 4px 15px 0px #00000026;
    }
    .fa-store{
        color: $primary-color;
    }
}