header{
    background-color: #f6f6f6;
    display: flex;
    justify-content: center;
    padding: 20px;
    text-align: center;

    .header__content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    }
}