.restaurant{
    display: flex;
    justify-content: space-between;
    background-color: #f6f6f6;
    margin: 10px;
    &__main{
        width: 90%;
    }

    .restaurant__list{
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
    }

    .restaurant__cards{
        background-color: white;
        border-radius: 30px;
        width: 100%;
    }

    article{
        border-radius: 20px;
        img{
            object-fit: cover;
            width: 100%;
            height: 230px;
            border-radius: 30px 30px 0 0;
        }
    }
}