.restaurant{
    display: flex;
    justify-content: center;
    background-color: #f6f6f6;
    margin: 10px;
    padding-bottom: 40px;
    &__main{
        width: 90%;
    }

    &__list{
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
    }

    &__cards{
        background-color: white;
        border-radius: 30px;
        width: 100%;
    }
    &__nom{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__content{
        padding: 10px;
        h3,p{
            margin: 5px;
        }
    }
    &__like{
        padding: 10px;
    }
    article{
        border-radius: 20px;
        img{
            object-fit: cover;
            width: 100%;
            height: 230px;
            border-radius: 30px 30px 0 0;
        }
    }
}