.restaurant{
    display: flex;
    justify-content: center;
    background-color: #f6f6f6;
    margin: 10px;
    padding-bottom: 40px;
    &__main{
        width: 90%;
    }

    &__list{
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
    }

    &__cards{
        background-color: white;
        border-radius: 30px;
        width: 100%;
    }
    &__nom{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__content{
        padding: 10px;
        h3,p{
            margin: 5px;
        }
    }
    &__like{
        padding: 10px;
        position: relative;
        cursor: pointer;
        width: 15px;
        height: auto;
        display: inline-flex;
    }
    
    article{
        border-radius: 20px;
        img{
            object-fit: cover;
            width: 100%;
            height: 230px;
            border-radius: 30px 30px 0 0;
        }
    }
}
.like{
    position: absolute;
    top: 0px;
    right: 10px;   
    font-size: 20px;
}

@media(min-width: 1440px){
    .restaurant__main{
        display: flex;
        flex-wrap: wrap;
        width: 1200px;
        gap: 40px;
    }
    .restaurant__cards{
        width: 490px;
    }
    .restaurant__list{
        gap: 40px;
        justify-content: center;
    }
    .restaurant__title{
        padding-left: 90px;
        margin-top: 20px;
    }
}