.restaurant{
    display: flex;
    justify-content: center;
    background-color: #f6f6f6;
    margin: 10px;
    padding-bottom: 40px;
    &__main{
        width: 90%;
    }

    &__list{
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
    }

    &__cards{
        opacity: 0;
        background-color: white;
        border-radius: 30px;
        width: 100%;
        animation: cards 1s ease-in-out forwards;
        animation-delay: 1.5s;
    }
    &__nom{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__content{
        padding: 10px;
        h3,p{
            margin: 5px;
        }
    }
    &__like{
        padding: 10px;
        position: relative;
        cursor: pointer;
        width: 15px;
        height: auto;
        display: inline-flex;
    }
    &__new{
        position: absolute;
        display:flex;
        justify-content:center;
        align-items:center;
        background-color:$new-color;
        color:$new-text-color;
        border-radius:5px;
        width:80px;
        height:29px;
        top:15px;
        right:15px;
    }
    .note{
        animation-delay: 2s;
    }
    .francaise{
        animation-delay: 2.5s;
    }
    .delice{
        animation-delay: 3s;
    }
    article{
        position:relative;
        border-radius: 20px;
        img{
            object-fit: cover;
            width: 100%;
            height: 230px;
            border-radius: 30px 30px 0 0;
        }

    }
}
.like{
    position: absolute;
    top: 0px;
    right: 10px;   
    font-size: 20px;
}
@media(min-width: 1024px){
    .restaurant__main{
        display: flex;
        flex-wrap: wrap;
        width: 1000px;
        gap: 40px;
    }
    .restaurant__cards{
        width: calc(50% - 20px);
    }
    .restaurant__list{
        gap: 40px;
        justify-content: center;
    }
    .restaurant__title{
        padding-left: 0px;
        margin-top: 20px;
    }
}

@media(min-width: 1440px){
    .restaurant__main{
        display: flex;
        flex-wrap: wrap;
        width: 1200px;
        gap: 40px;
    }
    .restaurant__cards{
        width: calc(50% - 20px);
    }
    .restaurant__list{
        gap: 40px;
        justify-content: center;
    }
    .restaurant__title{
        padding-left: 0px;
        margin-top: 20px;
    }
}
