.nav__image{
    padding: 15px;
    display: flex;
    justify-content: center;
}   
.nav__loc{
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 4px 4px 0px #00000040;
    background-color: #EAEAEA;
    gap: 17px;
}
.nav__restaurant{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 10px;
    height: 80px;
}

@media (min-width: 1440px) {
    .nav__restaurant{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-left: 10px;
        height: 80px;
    }

}