.restaurant__pics{
    width: 100%;
    height: auto;
    img{
        width: 100%;
        height: 230px;
        object-fit: cover;
    }
}
.section__pics{
    position: relative;
    margin-top: -40px;
    background-color: #F6F6F6;
    border-radius: 20px 20px 0 0;
    padding-bottom: 0px;
    
}