/* carte des restaurant/ index */

.restaurant__cards{
    transition: transform 300ms;
   &:hover{
        transform: scale(1.05);
    }
}

/*coeur*/

.restaurant__like:hover{
    .coeur{
        opacity: 0;
    }
    .coeur__hover{
        opacity: 1;
    }
}

/* bouttons toutes les pages*/

.buttons{
    transition: filtre 0.3s;
    &:hover{
        filter: brightness(1.07);
        box-shadow: 0px 6px 15px #00000040 ;
    }
}

/* volet sur les plats*/
.card:hover{ 
    .volet__hover{
        width:60px;
    }  
    }

.volet__hover{
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    font-size: 20px;
    width:0px;
    height:100px;
    background-color: $tertiary-color;
    border-radius:0 20px 20px 0;
    transition:width 200ms ;
}
.fa-circle-check{
    color:white;
}
