/* carte des restaurant/ index */

.restaurant__cards{
    transition: transform 300ms;
   &:hover{
        transform: scale(1.05);
    }
}

/*coeur*/

.restaurant__like:hover{
    .coeur{
        opacity: 0;
    }
    .coeur__hover{
        opacity: 1;
    }
}

/* bouttons toutes les pages*/

.buttons{
    transition: filtre 0.3s;
    &:hover{
        filter: brightness(1.07);
    }
}

/* volet sur les plats*/
.card:hover{ 
    .volet__hover{
        width:60px;
    }
    .card__prix{
        width: 90px;
    }
        
    }

.volet__hover{
    position:absolute;
    top:0;
    right:0;
    width:0px;
    height:100%;
    background-color: $tertiary-color;
    border-radius:0 20px 20px 0;
    transition:width 200ms ;
}