.buttons {
    color: white;
    text-decoration: none;
    border: 2px solid none;
    background: linear-gradient(180deg,rgba(255, 121, 218, 1) 0%, rgba(147, 86, 220, 1) 100%);
    border-radius: 30px;
    padding: 15px;
    width: 200px;
    text-align: center;
}