.buttons {
    color: white;
    text-decoration: none;
    border: 2px solid none;
    background: $gradient-color;
    border-radius: 30px;
    padding: 15px;
    width: 200px;
    text-align: center;
    box-shadow: 0px 4px 10px 0px #00000040;

}