.loader{
  opacity:1;
  position:fixed;
  top: 50%;
  left: 50%;
  display: flex;
  align-items:center;
  justify-content:center;
  gap:5px;
  &__1, &__3,&__5{
    border: 10px solid #9356DC;
    height:1px;
    animation: barre-grandit 1.5s ease-in-out forwards ;
    animation-duration:3s;
  }
  &__2, &__4{
    border: 10px solid #FF79DA;
    animation:barre-grandit-2 1.5s ease-in-out forwards ;
    animation-duration:3s;
  }
  &__3{
    border: 10px solid #99E2D0;
  }
  &__4{
    border: 10px solid #353535;
  }
  &__5{
    border:10px solid #9356DC;
  }
}
@keyframes barre-grandit{
  0%{
    transform: scaleX(0.1);
  }
  50%{
    transform: scaleY(3);
  }
  100%{
    transform: scaleX(0.1);
    opacity:0;
  }
}

@keyframes barre-grandit-2{
  0%{
    transform: scaleY(3);
  }
  50%{
    transform: scaleX(0.1);
  }
  100%{
    transform: scaleY(3);
    opacity:0;
  }
}

/*body{
    opacity: 0;
    animation: affichage 3s ease-in-out forwards;
    animation-delay: 2s;
}
@keyframes affichage{
  0%{
        opacity:0;
  }
  100%{
        opacity:1;
  }
}*/