/*animation pour le loader*/
.loader{
  animation: loader 0.5s 1s forwards;
  opacity:1;
  position:fixed;
  z-index:99;
  width:100%;
  height:100%;
  display: flex;
  align-items:center;
  justify-content:center;
  gap:5px;
  background-color:#EAEAEA;
  &__bar{
    border: 10px solid transparent;
    animation: barre-grandit 1s ease-in-out infinite ;
  }
  &__1{
    border-color:#9356DC;
    animation-delay:0.05s;
  }
  &__2{
     border-color:#FF79DA;
    animation-delay:0.1s;
  }
  &__3{
     border-color:#99E2D0;
    animation-delay:0.15s;
  }
  &__4{
    border-color:#353535;
    animation-delay:0.20s;
  }
  &__5{
    border-color:#9356DC;
    animation-delay:0.25s;
  }
}

@keyframes barre-grandit{
  0%{
    transform: scaleY(0.1);
  }
  50%{
    transform: scaleY(3);
  }
  100%{
    transform: scaleY(0.1);
  }
}

@keyframes loader {
            from {
                opacity: 1;
            }
            to {
                opacity: 0;
                visibility: hidden;
            }
        }
        main {
            background-color: #F6F6F6;
        }


/*apparition liste*/
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/*apparition card restaurants*/
@keyframes cards {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}