$font-primary: 'Roboto', sans-serif;
$font-title: 'Shrikhand',cursive;
*{
    text-decoration: none;
    color: inherit;
}
main{
  
}
body{
    font-family: $font-primary;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    .body__div{
        width: 100%;
        box-sizing: border-box;
    }

}

@media(min-width: 1440px){
    main{
        width: 1200px;
        margin: auto;
    }
}




